<!-- About-Area -->
<section class="video-container js-fullheight" id="about_page">

    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://56kzappsdata.s3.us-east-2.amazonaws.com/video-3eeb3d11fae2d0afb41f4f366ff3f920c245b487bbb417bf18cb527bc3c0cebd.mp4" type="video/mp4">
    </video>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="page-title text-center">
                    <div class="space-100"></div>
                    <div class="space-100"></div>
                    <div class="space-20"></div>
                    <div class="space-50"></div>
                    <div class="space-20"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-30"></div>
    <div class="space-30"></div>
</section>
<!-- About-Area-End -->


<!-- Feature-Area -->
<section class="feature-area section-padding-top wave-container" id="features_page">
    <div class="">
        <div class="grid">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="page-title text-center">
                    <h5 class="title">Galeria</h5>
                    <div class="space-10"></div>
                    <div class="space-30"></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.3s"><a
                    href="/proyects/1?project_name=norteamerica">
                    <figure class="effect-oscar">
                        <img src=<%=asset_path 'resize_norteamerica4.jpg' %> alt="foto">
                        <figcaption>
                            <h2>Casa<br><span>Norte América</span></h2>
                            <p>Piscina Lúdica</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.6s"><a
                    href="/proyects/2?project_name=cal">
                    <div class="space-30"></div>
                    <figure class="effect-oscar">
                        <img src=<%=asset_path 'resize_cal1.jpg' %> alt="foto">
                        <figcaption>
                            <h2>Casa<br><span>California</span></h2>
                            <p>Pool & Spa</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.9s"><a
                    href="/proyects/3?project_name=escobero">
                    <figure class="effect-oscar">
                        <img src=<%=asset_path 'resize_escobero1.jpg' %> alt="foto">
                        <figcaption>
                            <h2>Casa<br><span>DOM</span></h2>
                            <p>Pool</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="1.2s"><a
                    href="/proyects/4?project_name=estra">
                    <div class="space-50"></div>
                    <figure class="effect-oscar">
                        <img src=<%=asset_path 'resize_estra7.jpg' %> alt="foto">
                        <figcaption>
                            <h2>Casa<br><span> Estrada</span></h2>
                            <p>Spa</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="space-60"></div>
        </div>
    </div>
</section>
<!-- Feature-Area-End -->

<!-- Video-Area -->
<section class="section-padding-top" id="video_section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="page-title text-center">
                    <h5 class="title">Proyecto MG</h5>
                    <h3>¡Los mejores proyectos!</h3>
                    <div class="space-10"></div>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <iframe width="100%" height="600px" src="https://www.youtube.com/embed/vMP55zJTVE4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="space-50"></div>
        </div>
    </div>
</section>
<!-- Video-Area-End -->


<!-- Testimonial-Area -->
<section class="testimonial-area" id="customers_section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title text-center">
                    <h5 class="title text-white">Aliados</h5>
                    <h3 class="text-white">Trabajamos con los mejores</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="team-slide">
                    <div class="team-box">
                        <img src=<%=asset_path 'arconsa.jpg' %> alt="imagen_1">
                        <h4>Arconsa</h4>
                        <h6 class="position">Compañia constructora</h6>
                        <p>Equipo conformado por arquitectos, ingenieros y profesionales en las diferentes áreas de
                            apoyo.</p>
                    </div>
                    <div class="team-box">
                        <img src=<%=asset_path 'pentair.png' %> alt="imagen_5">
                        <h4>Pentair</h4>
                        <h6 class="position">Proveedor</h6>
                        <p>Equipos de bombeo diseñados para aplicaciones críticas y que requieren alta confiabilidad y
                            eficiencia.</p>
                    </div>
                    <div class="team-box">
                        <img src=<%=asset_path 'arquitecturayconcreto.png' %> alt="imagen_2">
                        <h4>Arquitectura y Concreto</h4>
                        <h6 class="position">Compañia constructora</h6>
                        <p>Empresa con más de 30 años de trayectoria y más de 300 proyectos inmobiliarios en todo
                            Colombia.</p>
                    </div>
                    <div class="team-box">
                        <img src=<%=asset_path 'bullfrog.jpg' %> alt="imagen_7">
                        <h4>Bullfrog</h4>
                        <h6 class="position">Proveedor</h6>
                        <p>Compañia que diseña y fabrica una linea de Jacuzzis de alta gama con sistemas de última
                            tecnología</p>
                    </div>
                    <div class="team-box">
                        <img src=<%=asset_path 'conaltura.png' %> alt="imagen_3">
                        <h4>Conaltura</h4>
                        <h6 class="position">Compañia constructora</h6>
                        <p>Empresa que construye y financia proyectos de vivienda y comercial, en todo el territorio
                        Colombiano</p>
                    </div>
                    <div class="team-box">
                        <img src=<%=asset_path 'inuberco.png' %> alt="imagen_4">
                        <h4>Inuberco</h4>
                        <h6 class="position">Compañia constructora</h6>
                        <p>Compañia de inmobiliarios, ingenieros y arquitectos elaborando los mejores proyectos.</p>
                    </div>
                    <div class="team-box">
                        <img src=<%=asset_path 'hayward.png' %> alt="imagen_6">
                        <h4>Hayward</h4>
                        <h6 class="position">Proveedor</h6>
                        <p>Empresa proveedora de equipos para piscinas, spas ecológicos y de última tecnología para
                            piscinas.</p>
                    </div>
                    <div class="team-box">
                        <img src=<%=asset_path 'CPOLogo.jpg' %> alt="imagen_8">
                        <h4>CPO</h4>
                        <h6 class="position">Certificación</h6>
                        <p>Nuestra empresa cuenta con un certificado internacional NSPF Pool and Spa Operator.</p>
                    </div>

                    <div class="team-box">
                        <img src=<%=asset_path 'astral.jpg' %> alt="imagen_9">
                        <h4>Astral Pool</h4>
                        <h6 class="position">Proveedor</h6>
                        <p>AstralPool tiene la gama de productos más completa para tu piscina, con equipos ahorradores</p>
                    </div>
                    <div class="team-box">
                        <img src=<%=asset_path 'togama.png' %> alt="imagen_10">
                        <h4>Togama Mosaic</h4>
                        <h6 class="position">Proveedor</h6>
                        <p>Togama es una empresa de fabricación de mosaico vitro, ubicada en España</p>
                    </div>
                    <div class="team-box">
                        <img src=<%=asset_path 'vidrepur.png' %> alt="imagen_11">
                        <h4>Vidrepur</h4>
                        <h6 class="position">Proveedor</h6>
                        <p>Empresa europea encargada de realizar mosaico Vitreo de la más alta calidad</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="space-100"></div>
    </div>
</section>
<!-- Testimonial-Area-End -->


<!-- Footer-Area -->
<footer class="footer-area" id="contact_page">
    <div class="section-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title text-center">
                        <h5 class="title">Contacto</h5>
                        <div class="space-60"></div>
                        <h3 class="dark-color">Déjanos un mensaje</h3>
                    </div>
                </div>
            </div>

            <div class="row pb-5">
                <div class="col-md-6 col-md-offset-1">
                    <form class="singup-form contact-form">
                        <div class="row">
                            <input type="hidden" id="date" name="fecha" value="CurrentDate">
                            <div class="col-md-12 text-center">
                                <input type="text" name="correo" placeholder="Correo Electrónico">
                            </div>
                            <div class="col-md-12 text-center">
                                <textarea placeholder="Mensaje" name="texto"></textarea>
                                <button type="submit" id="submit-form" class="bttn-default wow fadeInUp"
                                    data-wow-delay="0.2s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-5">
                    <div class="space-60"></div>
                    <div class="col-md-12">
                        <div class="col-xs-12 col-sm-6">
                            <div class="footer-box">
                                <div class="box-icon">
                                    <span class="lnr lnr-map-marker"></span>
                                </div>
                                <p>Calle 8 Sur #50 FF Edificio Empresarial 808, Medellín, Antioquia <br /><br /> Carrera 6 # 76-30 local 01 , Montería,
                                    Córdoba
                                </p>
                            </div>
                            <div class="space-30 hidden visible-xs"></div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="footer-box">
                                <div class="box-icon">
                                    <span class="lnr lnr-phone-handset"></span>
                                </div>
                                <p>(4) 479 6602 -(312) 2861927 <br/> <br/> <br/>(312) 2861927 </p>
                            </div>
                            <div class="space-30 hidden visible-xs"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="space-30"></div>

        </div>
    </div>
    <!-- Footer-Bootom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 text-center">

                    <span> Powered by <a href="https://56kz.github.io/#contact" target="_blank"
                            style="color:black">Verzion56</a></span>

                    <div class="space-30 hidden visible-xs"></div>
                </div>

            </div>
        </div>
    </div>
    <!-- Footer-Bootom-End -->
</footer>
<!-- Footer-Area-End -->

<script>

    $(document).ready(function () {
        $(window).scroll(function () { // check if scroll event happened
            if ($(document).scrollTop() > 200) { // check if user scrolled more than 50 from top of the browser window
                $(".mainmenu-area").css("background-color", "rgba(0, 0, 0, 0.6)"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
            } else {
                $(".mainmenu-area").css("background-color", "transparent"); // if not, change it back to transparent
            }
        });

        $('.nav li a').click(function (e) {
            $('.nav li.active').removeClass('active');
            var $parent = $(this).parent();
            $parent.addClass('active');
            e.preventDefault();
        });

        $('.preloader').fadeOut(500);
        /*WoW js Active
        =================*/
        new WOW().init({
            mobile: false,
            animateClass: 'animated'
        });

        main();

    });



    (function ($) {
        $(document).ready(function () {

            var form = $('.contact-form'),
                url = 'https://eokwm7dns8rwgfl.m.pipedream.net'


            $('#submit-form').on('click', function (e) {
                e.preventDefault();

                var d = new Date();

                var formData = {
                    'CORREO': $('input[name="correo"]').val(),
                    'FECHA': d.toDateString(),
                    'MENSAJE': $('textarea[name="texto"]').val()
                  };
                
                var jqxhr = $.ajax({
                    url: url,
                    method: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(formData)
                }).success(
                    Swal.fire(
                        '¡Muy bien!',
                        'Pronto nos pondremos en contacto contigo.',
                        'success'
                    )
                );
            })

        });
    })(jQuery);

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };


</script>
