<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <br><br><br><br>
      <h1>Crear Proyecto</h1>
      <%= form_for @proyect do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control input-lg", placeholder: "Ingresa el nombre del Proyecto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :subtitle, class: "form-control input-lg", placeholder: "Ingresa el subtitulo del Proyecto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :description, class: "form-control input-lg", placeholder: "Ingresa la descripción del Proyecto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :youtube ,class: "form-control input-lg", placeholder: "Ingresa el link de Youtube del Proyecto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :linkone ,class: "form-control input-lg", placeholder: "Ingresa el link de la imagén del Proyecto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :linktwo ,class: "form-control input-lg", placeholder: "Ingresa el link de la imagén del Proyecto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :linkthree ,class: "form-control input-lg", placeholder: "Ingresa el link de la imagén del Proyecto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :linkfour ,class: "form-control input-lg", placeholder: "Ingresa el link de la imagén del Proyecto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :linkfive ,class: "form-control input-lg", placeholder: "Ingresa el link de la imagén del Proyecto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :linksix ,class: "form-control input-lg", placeholder: "Ingresa el link de la imagén del Proyecto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :linkseven ,class: "form-control input-lg", placeholder: "Ingresa el link de la imagén del Proyecto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :linkeight ,class: "form-control input-lg", placeholder: "Ingresa el link de la imagén del Proyecto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :linknine ,class: "form-control input-lg", placeholder: "Ingresa el link de la imagén del Proyecto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :linkten ,class: "form-control input-lg", placeholder: "Ingresa el link de la imagén del Proyecto" %>
        </div>
        <div>
          <%= f.submit "Crear Proyecto", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
